*{
    font-family: sans-serif;
}

.baner{
    height: 197px;
    color: white; 
    background-image: url(../images/baner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.baner>h2{
    margin-top: 70px;
    font-weight: bold;
}
.homeLine{
    background-color: #eaeaea;
    color: #a38c98;
}
.homeLine>div>div>a{
    text-decoration: none; 
    color: #a38c98;

}
.homeLine>div>div>a:hover{
    color: black;
}
.homeLine>div>div>img{
    width: 13px;
    height: 13px;
}
.homeLine>div>div>a>img{
    width: 13px;
    height: 13px;
}
.homeLine>div>div>span{
font-size: 12px;
font-weight: 600;
}



.green-line{
    width: 80px;
    height: 2px;
    background-color: #8dc63f;
    margin-right: 30px;
}
.consult>div>h4{
    font-weight: bold;
}


.roooow>div>img{
    width: 100%;
    height: 200px;
}