*{
    font-family: sans-serif;
}

.baner{
    height: 197px;
    color: white; 
    background-image: url(../images/baner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.baner>h2{
    margin-top: 70px;
    font-weight: bold;
}
.homeLine{
    background-color: #eaeaea;
    color: #a38c98;
}
.homeLine>div>div>a{
    text-decoration: none; 
    color: #a38c98;
}
.homeLine>div>div>a:hover{
    color: black;
}
.homeLine>div>div>img{
    width: 11px;
    height: 11px;
}
.homeLine>div>div>a>img{
    width: 13px;
    height: 13px;
}
.homeLine>div>div>span{
font-size: 12px;
font-weight: 600;
}

    /* body section statrt */
.body-row{
    color: #8a8c98;
    font-weight: 300;
    font-size: 14px;
}
.body-row>div>h1{
    font-weight:600;
    font-size: 24px;
    color: black;
    color: #252436;
}